.profile-card {
    margin: 40px;
    text-align: left;
}

.profile-card h3 {
    font-size: 60px;
    padding: 20px;
    text-align: left;
}

.favourite-section {
    align-self: center;
    text-align: center;
}

.favourite-section h2 {
    padding: 0 0 20px 0;
}